<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Cocktail Lab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500;700&family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <header>
        <img class="logo" src="../assets/Logo.svg" alt="Cocktail Logo" />

        <nav>
          <a href="#" class="hide-desktop"
            ><img
              class="menu"
              id="menu"
              src="../assets/Hamburger-Menu.svg"
              alt="hamburger menu"
          /></a>

          <ul class="show-desktop hide-mobile" id="nav">
            <li id="exit" class="exit-button hide-desktop">
              <img src="../assets/Exit.svg" alt="exit menu" />
            </li>
            <li><a href="#">SHOP ONLINE</a></li>
            <li><a href="#">WHOLESALE</a></li>
            <li><a href="#">GET INSPIRED</a></li>
            <li><a href="#">OUR MISSION</a></li>
          </ul>
        </nav>

        <ul class="icons">
          <div class="search-box">
            <input
              class="search-text"
              type="text"
              placeholder="Search for cocktails"
            />
            <a class="search-button" href="#">
              <i class="fas fa-search fa-1x"></i
            ></a>
          </div>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="../assets/Facebook.svg" alt="facebook icon"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="../assets/Instagram.svg" alt="instagram icon"
            /></a>
          </li>
          <li>
            <a href="https://shoppingcard.com/" target="_blank">
              <img src="../assets/Shopping-Cart.svg" alt="shopping cart icon" />
            </a>
          </li>
          <li>
            <a href="https://www.gmail.com/" target="_blank">
              <img src="../assets/Envelope.svg" alt="envelope icon"
            /></a>
          </li>
        </ul>
      </header>
    </div>

    <main>
      <div>
        <img
          class="main-img"
          src="../assets/Wallpaper.jpg"
          alt="cocktail picture"
        />
      </div>

      <h1>
        We present this fine selection of lightly alcoholic cocktails that are
        ready to savour.
      </h1>
      <!-- First Section -->
      <section>
        <div class="first-container">
          <article>
            <div class="section-1">
              <img
                src="../assets/Hurricane Cocktail.jpg"
                alt="hurricane cocktail"
              />
              <h3>HURRICANE COCKTAIL</h3>
              <p>for 29.99$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img src="../assets/Mojito.jpg" alt="classical mojito" />
              <h3>CLASSICAL MOJITO</h3>
              <p>for 19.99$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Caribbean Sunrise.jpg"
                alt="caribbean sunrise cocktail"
              />
              <h3>CARIBBEAN SUNRISE</h3>
              <p>for 24.99$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Blue Hawaiian.jpg"
                alt="blue hawaiian cocktail"
              />
              <h3>BLUE HAWAIIAN</h3>
              <p>for 34.99$</p>
            </div>
          </article>
        </div>
      </section>

      <h1>
        We’ve taken cues from classic cocktails but shaken them up a little.
      </h1>
      <!-- Second Section -->
      <section>
        <div class="first-container">
          <article>
            <div class="section-1">
              <img src="../assets/Caipirinha.jpg" alt="caipirinha" />
              <h3>CAIPIRIHNA</h3>
              <p>for 20.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/The Melon Ball.jpg"
                alt="melon ball cocktail"
              />
              <h3>THE MELON BALL</h3>
              <p>for 30.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Watermelon Daiquiri.jpg"
                alt="watermelon daiquiri"
              />
              <h3>WATERMELON DAIQUIRI</h3>
              <p>for 27.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Summer Delight.jpg"
                alt="summer delight cocktail"
              />
              <h3>SUMMER DELIGHT</h3>
              <p>for 35.00$</p>
            </div>
          </article>
        </div>
      </section>

      <h1>
        Each recipe is free from sugar, carbs, gluten and it's vegan friendly!
      </h1>
      <!-- Third Section -->
      <section>
        <div class="first-container">
          <article>
            <div class="section-1">
              <img
                src="../assets/Orange Aqua Fresca.jpg"
                alt="orange aqua fresca"
              />
              <h3>ORANGE AQUA FRESCA</h3>
              <p>for 25.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img src="../assets/Lime Margarita.jpg" alt="lime margarita" />
              <h3>LIME MARGARITA</h3>
              <p>for 17.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img src="../assets/Green Mimosa.jpg" alt="green mimosa" />
              <h3>GREEN MIMOSA</h3>
              <p>for 30.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Strawberry Gin Smash.jpg"
                alt="strawberry gin smash"
              />
              <h3>STRAWBERRY GIN SMASH</h3>
              <p>for 20.00$</p>
            </div>
          </article>
        </div>
      </section>

      <h1>Introducing our new line of cocktails</h1>
      <!-- Fourth Section -->
      <section>
        <div class="first-container">
          <article>
            <div class="section-1">
              <img
                src="../assets/Pina Colada Coconut Shell.jpg"
                alt="pina colada coconut shell"
              />
              <h3>PINA COLADA COCONUT SHELL</h3>
              <p>for 29.99</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Red Currant Summer Breeze.jpg"
                alt="red currant summer breeze"
              />
              <h3>RED CURRANT SUMMER BREEZE</h3>
              <p>for 45.00$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Bacardi Rum Punch.jpg"
                alt="bacardi rum punch"
              />
              <h3>BACARDI RUM PUNCH</h3>
              <p>for 34.99$</p>
            </div>
          </article>

          <article>
            <div class="section-1">
              <img
                src="../assets/Rainbow Paradise.jpg"
                alt="rainbow paradise"
              />
              <h3>RAINBOW PARADISE</h3>
              <p>for 39.99$</p>
            </div>
          </article>
        </div>
      </section>
    </main>

    <aside>
      <div class="aside-container">
        <img
          class="aside-logo"
          src="../assets/Aside-Logo.svg"
          alt="cocktail svg logo"
        />
        <h2>The Cocktail Lab</h2>
        <p>
          Looking for a way to elevate your drinking experience? Look no further
          than our cocktails!
        </p>

        <p>
          Our expert mixologists have crafted a range of unique and flavorful
          cocktails that are sure to please any palate. Whether you're a fan of
          sweet and fruity or bold and bitter, we have a cocktail for you. Made
          with high-quality, natural ingredients, our cocktails offer a
          healthier and more sophisticated alternative to other alcoholic
          beverages. Plus, our bartenders are skilled in their craft and can
          create personalized drinks that perfectly suit your taste.
        </p>

        <p>Come visit us and discover your new favorite drink today!</p>
      </div>
    </aside>

    <footer>
      <div class="footer-container">
        <ul>
          <li>
            <h3>Quick links:</h3>
            <br />
            <a href="#">Privacy Policy </a><br />
            <a href="#">Terms of Service</a><br />
            <a href="#">Shipping Policy</a><br />
            <a href="#">Refund Policy</a>
          </li>
        </ul>

        <div>
          <a
            href="https://usa.visa.com/pay-with-visa/find-card/"
            target="_blank"
          >
            <button>
              <img src="../assets/Visa.png" alt="visa logo" />
            </button>
          </a>
          <a href="https://www.apple.com/apple-pay/" target="_blank"
            ><button>
              <img src="../assets/Apple-Pay.svg" alt="apple pay icon" /></button
          ></a>

          <a href="https://www.mastercard.us/en-us.html" target="_blank"
            ><button>
              <img
                src="../assets/Mastercard.svg"
                alt="mastercard logo"
              /></button
          ></a>
          <a
            href="https://pay.google.com/gp/w/u/0/home/signup?sctid=3763744528602551"
            target="_blank"
            ><button>
              <img src="../assets/G-Pay.svg" alt="google pay logo" /></button
          ></a>
        </div>
        <p>2023 &copy The Cocktail Lab. All rights reserved</p>
      </div>
    </footer>

    <script src="../script/javascript.js"></script>
  </body>
</html>
