<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Golden Theatre</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header>
      <form>
        <label for="search"></label>
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search for movies"
        />
        <input type="submit" value="Go" />
      </form>
      <img style="width: 130px" src="../assets/Logo.png" />
      <h1 class="title">The Golden Theatre</h1>
    </header>
    <nav class="nav-bar">
      <button class="nav-buttons"><a href="#">Home</a></button>
      <button class="nav-buttons"><a href="#">Genres</a></button>
      <button class="nav-buttons"><a href="#">Popular Movies</a></button>
      <button class="nav-buttons"><a href="#">Feedback</a></button>
      <button class="nav-buttons"><a href="#">Contact</a></button>
    </nav>

    <main>
      <section>
        <!-- Prv red artikli -->
        <article>
          <div class="row">
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: black;
                    color: white;
                  "
                >
                  <b>The scilence of the Lambs (1991)</b>
                </button>
              </h1>
              <img
                src="../assets/The scilence of the lambs.jpg"
                style="width: 300px"
              />
            </div>
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(122, 39, 39);
                  "
                >
                  <b>The Girl on the Train (2016)</b>
                </button>
              </h1>
              <img src="../assets/girl-on-the-train.jpg" style="width: 300px" />
            </div>
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: black;
                    color: white;
                  "
                >
                  <b>Black Swan (2010)</b>
                </button>
              </h1>
              <img src="../assets/black-swan.jpg" style="width: 300px" />
            </div>
          </div>
        </article>

        <!-- Vtor red artikli -->
        <article>
          <div class="row">
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(122, 39, 39);
                  "
                >
                  <b>American Psycho (2000)</b>
                </button>
              </h1>
              <img src="../assets/American-Psycho.jpg" style="width: 300px" />
            </div>
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: black;
                    color: white;
                  "
                >
                  <b>Shutter Island (2010)</b>
                </button>
              </h1>
              <img src="../assets/Shutter-island.jpg" style="width: 300px" />
            </div>
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(122, 39, 39);
                  "
                >
                  <b>Cape Fear (1991)</b>
                </button>
              </h1>
              <img src="../assets/Cape-Fear.jpg" style="width: 300px" />
            </div>
          </div>
        </article>

        <!-- Tret red artikli -->
        <article>
          <div class="row">
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: black;
                    color: white;
                  "
                >
                  <b>Vertigo (1958)</b>
                </button>
              </h1>
              <img src="../assets/Vertigo.jpg" style="width: 300px" />
            </div>
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(122, 39, 39);
                  "
                >
                  <b>Misery (1990)</b>
                </button>
              </h1>
              <img src="../assets/Misery.jpg" style="width: 300px" />
            </div>
            <div class="column">
              <h1>
                <button
                  style="
                    width: 300px;
                    border-radius: 5px;
                    border: none;
                    background-color: black;
                    color: white;
                  "
                >
                  <b>Us (2019)</b>
                </button>
              </h1>
              <img src="../assets/Us.jpg" style="width: 300px" />
            </div>
          </div>
        </article>
      </section>
    </main>

    <aside>
      <div class="row">
        <div class="column">
          <button
            style="
              width: 300px;
              background-color: black;
              color: white;
              border-radius: 5px;
              border: none;
              margin-top: 50px;
              cursor: pointer;
            "
          >
            <p>
              ‘Dark’Trailer: Season 2 Takes German Netflix Series Further Down
              the Rabbit Hole
            </p>
          </button>
          <video
            style="margin-top: -50px; cursor: pointer"
            src="../videos/dark-season-2-date-announcement-netflix-givefastlink.mp4"
            type="video/mp4"
            controls
            autoplay
            muted
            loop
            poster="assets/Dark-german-series-poster.jpg"
            height="300px"
            width="300px"
          ></video>
        </div>

        <div class="column">
          <button
            style="
              width: 300px;
              background-color: black;
              color: white;
              border-radius: 5px;
              border: none;
              margin-top: 50px;
              cursor: pointer;
            "
          >
            <p>
              Here you can see the Soundtrack of the new Dark German Thriller
              Series &#8595
            </p>
          </button>
          <audio
            style="margin-top: 10px; cursor: pointer"
            src="../audios/Apparat_Goodbye_Dark_Netflix_Theme_Song.mp3"
            type="audio/mp3"
            controls
            loop
            autoplay
            muted
          ></audio>
        </div>

        <div class="column">
          <button
            style="
              width: 300px;
              background-color: black;
              color: white;
              border-radius: 5px;
              border: none;
              margin-top: 50px;
              cursor: pointer;
            "
          >
            <p>Here you can watch and download more movies &#8595</p>
          </button>
          <iframe
            style="margin-top: 20px; cursor: pointer"
            width="300px"
            height="200px"
            src="https://hd.fmoviesto.site/"
            frameborder="0"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </aside>
    <footer>
      <p><b>2023 &copy THE GOLDEN THEATRE. All rights reserved</b></p>
    </footer>
  </body>
</html>
