<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box Model Homework</title>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  </head>
  <body>
    <div class="title-box">
      Box Model <br />
      Homework
    </div>

    <div class="box-1">
      <img src="../assets/Parrot.jpg" alt="" />
    </div>

    <div class="box-2">
      <img src="../assets/Red-Panda.jpg" alt="" />
    </div>

    <div class="box-3">
      <img src="../assets/Butterfly.jpg" alt="" />
    </div>

    <div class="content-box"><p>Content Box</p></div>

    <div class="padding-box">Padding Box</div>

    <div class="border-box">Border Box</div>
  </body>
</html>
